* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ajs-content {
  overflow: scroll;
}

#container {
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px minmax(300px, 1fr) minmax(300px, 1fr);
      grid-template-rows: 50px minmax(300px, 1fr) minmax(300px, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#container #meniu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#container #meniu button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #53a290;
  color: #FFF;
  opacity: .7;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  outline: none;
  border: none;
  display: none;
}

#container #meniu button:hover {
  opacity: 1;
  cursor: pointer;
}

#container #meniu button.visible {
  display: block;
}

#container #meniu p {
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  display: none;
}

#container #meniu p.visible {
  display: block;
}

#container .titlu_holder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .titlu_holder input[type='text'] {
  border: none;
  font-weight: 600;
  margin: 0 5px;
  width: 100px;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  outline: none;
}

#container .titlu_holder input[type='text']:hover {
  cursor: pointer;
  border-bottom: 1px solid lightblue;
}

#container .titlu_holder #titlu {
  color: #53a290;
}

#container .titlu_holder #save, #container .titlu_holder #get_id_btn, #container .titlu_holder #update {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #53a290;
  color: #FFF;
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#container .titlu_holder #save:hover, #container .titlu_holder #get_id_btn:hover, #container .titlu_holder #update:hover {
  opacity: 1;
  cursor: pointer;
}

#container .titlu_holder #save.inactiv, #container .titlu_holder #get_id_btn.inactiv, #container .titlu_holder #update.inactiv {
  background-color: lightgrey;
  pointer-events: none;
}

#container .titlu_holder #get_id_btn {
  right: 150px;
}

#container .titlu_holder #update {
  right: 213px;
}

#container .canvas_holder {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
  overflow: scroll;
  border-right: 2px dashed #dff0f5;
}

#container #output {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 15px;
  overflow: scroll;
  border: none;
}

#container #output h3 {
  margin: 10px 0;
  color: lightblue;
}

#container #output .ok {
  color: #25c75b;
}

#container #output .nok {
  color: #e2634d;
}

#container #output .masuratoare {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid lightgrey;
}

#container #output .masuratoare .tooltip {
  cursor: pointer;
}

#container #output .masuratoare .tooltip:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, 120%);
          transform: translate(-50%, 120%);
}

#container #output .masuratoare .tooltip::after {
  content: attr(data-tooltip);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  font-size: .8rem;
  padding: 5px 10px;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #202020;
  color: #FFF;
  border-radius: 4px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform 0.2s;
  transition: opacity .3s, -webkit-transform 0.2s;
  transition: opacity .3s, transform 0.2s;
  transition: opacity .3s, transform 0.2s, -webkit-transform 0.2s;
  z-index: 10;
}

#container #output .masuratoare .nrCrt {
  min-width: 50px;
  text-align: center;
  color: lightblue;
}

#container #output .masuratoare .index_spc {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  width: 50px;
  margin: 0 15px;
  border: 1px solid lightgrey;
  padding: 2px 0;
}

#container #output .masuratoare ::-webkit-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

#container #output .masuratoare :-ms-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

#container #output .masuratoare ::-ms-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

#container #output .masuratoare ::placeholder {
  color: #bdbdbd;
  font-style: italic;
}

#container #output .masuratoare .custom_checkbox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#container #output .masuratoare .custom_checkbox input[type="checkbox"] {
  display: none;
}

#container #output .masuratoare .custom_checkbox input[type="checkbox"]:checked + label > svg {
  color: #80d0ff;
}

#container #output .masuratoare .custom_checkbox label {
  cursor: pointer;
}

#container #output .masuratoare .custom_checkbox label svg {
  font-size: 1rem;
  color: #eaeaea;
}

#container #output .masuratoare .bulina {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e6e6e6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#container #output .masuratoare .info {
  position: relative;
  min-width: 200px;
  text-align: center;
  color: lightgrey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#container #output .masuratoare .info span {
  display: inline-block;
  text-align: center;
  min-width: 55px;
  color: lightgrey;
}

#container #output .masuratoare .info span.nominal {
  color: #555;
}

#container #output .masuratoare .calcul {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#container #output .masuratoare .calcul span {
  display: inline-block;
  text-align: center;
  min-width: 55px;
  color: #555;
}

#container #output .masuratoare .calcul .valMasurata {
  text-align: center;
  width: 100px;
  margin: 0 15px;
  border: 1px solid lightgrey;
  padding: 2px 0;
}

#container .area {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border: 4px dashed lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

#container .area:hover, #container .area.dragging, #container .area.uploading {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#container .area input {
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

#container .area input:focus {
  outline: none;
}

#container .area svg {
  color: lightblue;
  font-size: 3rem;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */